@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

*{
    margin:0px;
    box-sizing: border-box;
    font-family: 'Kumbh Sans','sans serif';
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffe9d6;
    height: 50px;
}
.logo{
    height: 40px;
}
.nav-links{
    display: flex;
    list-style: none;
    .nav-link{
        text-decoration: none;
        color: black;
        margin-left: 4vw;
    }
}
.cart{
    display: flex;
    align-items: center;
    width: 70px;
    border-radius: 20px;
    background-color: #ffa700;
    padding: 2px 10px 2px 10px;

    #chart-logo{
        width: 30px;
    }
    h3{
        color:white;
    }
}
.image-responsive{
    width: 100%;
    height: auto;
}
.Hero{
    background-color:#ffe9d6 ;  
    .columns{
        display: flex;
        align-items: center;
    }
    .heroImage{
        flex: 1;
    }
    .heroText{
        margin-left:10px;
        font-weight: bold;
        font-size: 7vw;
        line-height: 7vw;
        text-transform: uppercase;
        color: #ffa700;
    }
    .center{
        display: flex;
        justify-content: center;
        
        button{
           width: 120px;
           height: 35px; 
           background-color: #ffa700;
           color: white;
           font-weight: bold;
           border: none;
           border-radius: 5px;
           margin-bottom: 20px;
        }
    }
}
.about{
    background-color: black;
    padding: 30px;
    &_text{
        font-size: 2vw;
        color: white;
        text-align: center;
    }
}
.products{
    text-align: center;
    &-title{
        margin-top:20px;
        margin-bottom: 20px;
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        margin-bottom: 20px;
    }
}
.card{
    min-width: 200px;
    width: 350px;
    
    &-title{
        color: black;
        margin-top:5px;
        margin-bottom: 20px;
    }
    .addcart{
        width: 70%;
        height:40px;
        border:0px ;
        border-radius: 5px;
        background-color: #ffa700;
        font-weight: bold;
    }
}
footer{
    background-color: black;
    height: 200px;
    padding: 70px 50px 50px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
}